@font-face {
    font-family: Tourney;
    src: url("../assets/fonts/static/Tourney-Medium.ttf") format("truetype");
}

@font-face {
    font-family: AsapCondensed;
    src: url("../assets/fonts/AsapCondensed-Medium.ttf") format("truetype");
}

@font-face {
    font-family: AsapCondensed;
    src: url("../assets/fonts/AsapCondensed-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-family: AsapCondensed;
    src: url("../assets/fonts/AsapCondensed-ExtraBold.ttf") format("truetype");
    font-weight: 800;
}