$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

:root {
  --site-padding: 1rem;

  --text-heading-size: 1.875rem;
  --text-subheading-size: 1.5rem;
  --text-card-label-size: 1.125rem;
  --text-search-size: 1rem;
  --text-body-size: 1.25rem;
  --text-nav-size: 1.25rem;
  --text-bodysmall-size: 1rem;
  --text-small-size: 0.875rem;

  @media (min-width: $tablet-breakpoint) {

    --text-subheading-size: 2rem;
    --text-card-label-size: 1.25rem;
    --text-search-size: 1rem;
    --text-body-size: 1.25rem;
    --text-bodysmall-size: 1rem;
    --text-nav-size: 1.25rem;
    --text-small-size: 1rem;
  }
}

$color-primary: #21295C;
$color-secondary: #1B3B6F;
$color-light-primary: #1C7293;
$color-light-secondary: #9EB3C2;
$color-font-primary: #FFFFFF;
