@use "./../../styles/variables" as *;
@use "./../../styles/mixins" as *;

.search {
    background-color: $color-light-secondary;
    border-radius: 3.125rem;
    width: 100%;
    outline: none;
    border: none;
    &__container {
        display: flex;
        border: 0.1875rem solid $color-light-primary;
        border-radius: 3.125rem;
        background-color: $color-light-secondary;
    }
    &__icon {
        color: $color-light-secondary;
    }
}